/* css/styles.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Scrollbar magic */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #407552;
}

::-webkit-scrollbar-thumb {
    background: #E8B445;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff9100;
}

/* Import fonts */
@font-face {
    font-family: 'MuseoSans-700';
    src: url('MuseoSans-700.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSans-500';
    src: url('MuseoSans-500.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
    font-family: MuseoSans-700, Arial;
}

p, a, span, label, input, button{
    font-family: MuseoSans-500, Arial;
}

/* Global Styles */

body {
    font-family: MuseoSans-500, Arial;
    text-align: center;
    color: white;
    background-color: #274531;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.title {
    font-size: 13pt;
    margin: 10px 0px 0px 0px;
}

.titlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    /* padding: 0px 20px; */
    gap: 0px 20px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 300px;
    margin: 0 0 -10px 0;
    z-index: -999;
}

button {
    border-radius: 5px;
    background-color: #E8B445 !important;
    color: white;
    padding: 10px 15px;
    font-size: 15pt;
}

button:hover {
    background-color: #ffae00 !important;
}

button:disabled {
    background-color: #bbb7ad !important;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.5s ease-out;
}

.hide {
    display: none;
}

.button-group {
    display: flex;
    gap: 10px;
}

/* Header Styles */

header {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

header button {
    padding: 5px 10px;
    font-size: 10pt;
}

.img-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img-header img {
    width: 30%;
    min-width: 80px;
    max-width: 150px;
    border-radius: 100%;
}

.img-header .text {
    font-size: 20pt;
    font-family: MuseoSans-700, Arial;
}

.split-horizontal {
    margin: 40px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#start-game {
    margin: 20px 0px 0px 0px;
}

/* Login */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    padding: 20px 0px;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    max-width: 400px;
}

.login input {
    height: 30px;
    border-radius: 5px;
    padding: 5px 10px;
}

.login button {
    font-size: 12pt;
}

/* start */

#start-game {
    max-width: 400px;
    width: 50%;
    min-width: 100px;
}

/* grid */

.grid {
    display: grid;
    z-index: 999;
    position: relative;
    background-color: #27453142;
    height: calc(100dvh - 60px); /* Ensure the grid takes full height of its container */
    gap: 10px;
    padding: 0px 12px 20px 12px;
    justify-items: center;
    grid-template-areas: "titlebar" "playerboard" "button";
}

.grid #game-board {
    grid-area: playerboard / button;
}

/* Playerboard */  

.playerboardView {
    display: flex;
    align-items: stretch;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.person-card {
    display: flex;
    flex-direction: column;
    min-width: 70px;
    width: 10%;
    max-width: 130px;
    background-color: #E8B445;
    padding: 10px;
    border-radius: 5px;
}

.person-card img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.person-card p {
    padding: 10px 0px;
    font-size: 12pt;
}

.person-card.selected {
    background-color: #ff9100;
    color: white;
}

/* Game */
.game-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.game-details .selected-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.game-details .person-card {
    flex-direction: row;
    width: 100%;
    max-width: unset;
    align-items: center;
    padding: 3px;
}

.game-details .person-card img {
    width: 60px;
    height: 60px;
    border-radius: 5%;
}

.game-details .person-card p {
    padding: 0px 10px;
    font-size: 12pt;
    text-align: center;
}

.crossed-off {
    background-color: #183823;
    color: white;
    opacity: 0.5;
}

.crossed-off img {
    filter: grayscale(100%);
}

/* Media Queries */

@media screen and (min-height: 400px) {
    .img-header img {
        width: 50%;
    }

    .split-horizontal {
        flex-direction: column;
    }
}