<div>
    <header>
        <p>Wie is Het? - Kerkapp-editie</p>
        <button id="closeGame">Stop spel</button>
    </header>
    <div class="title">
        <h1>Wie is het?</h1>
    </div>
    <div class="game-details">
        <div class="selectedPerson">
            <p>De ander moet raden:</p>
            <div class="person-card">
                <img draggable="false" id="selected-person-image" src="" alt="Persoon">
                <p id="selected-person-name"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="playerboardView" id="game-board"></div>
    </div>
</div>
