<header>
    <p>Wie is Het? - Kerkapp-editie</p>
    <button id="closeGame">Spel stoppen</button>
</header>
<div class="grid">
    <div class="titlebar">
        <div class="title">
            <h1>Wie is het?</h1>
        </div>
        <div class="game-details">
            <div class="selected-person">
                <p>De ander moet raden:</p>
                <div id="selected-person" class="person-card">
                    <img draggable="false" id="selected-person-image" src="" alt="Persoon">
                    <p id="selected-person-name"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="playerboardView" id="game-board"></div> 
</div>
