<div class="split-horizontal">
    <div class="img-header">
        <img draggable="false" src="img/logo.png" alt="Wie is het?">
        <div class="text">
            Wie is Het?
            <br>
            Kerkapp-editie
        </div>
    </div>
    <div class="login">
        <p>Log in met je account van de kerkapp.
            <br>
            We stelen je gegevens niet. Beloofd.
        </p>
        <form id="login-form">
            <input type="email" id="email" placeholder="E-mailadres" required>
            <input type="password" id="password" placeholder="Wachtwoord" required>
            <button type="submit">Inloggen</button>
        </form>
    </div>
</div>
